.mlz pre {
	padding: 5px;
	font-size: 12px;
	background-color: #fff;
	border: 1px dashed #CCCCCC;
	border-radius: 4px;
	overflow: auto;
}

.mlztx {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #2b93e6;
	position: fixed;
	bottom: 50px;
	right: 20px;
	-webkit-box-shadow: 0px 0px 2px 3px hsla(0, 0%, 0%, 0.1);
	box-shadow: 0px 0px 2px 3px hsla(0, 0%, 0%, 0.1);
	font-size: 30px;
	text-align: center;
	line-height: 55px;
	color: #fff;
	transition: all 1s ease 0s;
	z-index: 99;
}

.mlz {
	width: 687px;
	position: fixed;
	bottom: 125px;
	background-color: #FFFFFF;
	right: 20px;
	border-radius: 5px;
	border: 1px solid #2b93e6;
	z-index: 99;
	display: none
}

.mlz ul {
	padding: 7px;
	padding-bottom: 0px;
	margin-bottom: 0px
}

.mlz h4 {
	background-color: #2b93e6;
	color: #fff;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
	margin: 0px;
	margin-bottom: 4px;
	border-radius: 5px;
}

.mlztx {
	opacity: .6;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #2b93e6;
	position: fixed;
	bottom: 50px;
	right: 20px;
	font-size: 30px;
	text-align: center;
	line-height: 55px;
	color: #fff;
	transition: all 1s ease 0s;
	z-index: 99
}

.mlztx:hover {
	opacity: 1;
	background-color: #00b1ff;
	width: 65px;
	height: 65px
}

.msagely pre {
	padding: 5px;
	font-size: 12px;
	background-color: #fff;
	border: 1px dashed #CCCCCC;
}

.mlz::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.mlz::-webkit-scrollbar-track {
	background: #2b93e6;
}

.mlz::-webkit-scrollbar-thumb {
	background: #2b93e6;
	border-radius: 5px;
}

.mlz::-webkit-scrollbar-thumb:hover {
	background: #3d89c4;
}

.mlz::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.mlz::-webkit-scrollbar-track {
	background: #dedede;
}

.mlz::-webkit-scrollbar-thumb {
	background: #2b93e6;
	border-radius: 5px;
}

.mlz::-webkit-scrollbar-thumb:hover {
	background: #000;
}

.mlz-scrollbar-filler {
	background: #000;
}

.inner2 a {
	display: block;
	color: #fff
}

.mlztx span {
	position: absolute;
	top: -12px;
	right: 10px;
	font-size: 12px;
}

.mlztx {
	animation: ripple 0.6s linear 5;
}

textarea {
	outline: none;
	border: 0px;
	transition: 1s;
	border: 1px solid #DDDDDD;
	-moz-box-shadow: 2px 2px 4px #f5f5f5 inset;
	-webkit-box-shadow: 2px 2px 4px #f5f5f5 inset;
	box-shadow: 2px 2px 4px #f5f5f5 inset;
	padding: 10px
}

textarea:focus {
	outline: none !important;
	background-color: #fafbf5;
	border: 1px solid #4ca957;
	-moz-box-shadow: 2px 2px 4px #e8e9e4 inset;
	-webkit-box-shadow: 2px 2px 4px #e8e9e4 inset;
	box-shadow: 2px 2px 4px #e8e9e4 inset;
}

textarea::-webkit-input-placeholder {
	color: #A4A4A4;
}

textarea::-moz-placeholder {
	color: #A4A4A4;
}

textarea:-moz-placeholder {
	color: #A4A4A4;
}

textarea:-ms-input-placeholder {
	color: #A4A4A4;
}
