@charset "utf-8";

body {
	background-color: #F4F4F4;
	font-family: "微软雅黑";
}

.f {
	float: left
}

.r {
	float: right
}

.df {
	clear: left;
}

.dr {
	clear: right;
}
.in2 {
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #e8e8e8;
	height: auto;
	margin: auto;
	padding: 20px 6px;
	position: relative;
}
.in2 {
	padding: 20px 25px;
}







